<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
    <!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
    
    
    <script type="text/javascript" src="../js/base_pagination.js">  </script>
    <script type="text/javascript" src="../js/service/contentService.js">  </script>
    <script type="text/javascript" src="../js/service/contentCategoryService.js">  </script>
    <script type="text/javascript" src="../js/service/uploadService.js">  </script>
    <script type="text/javascript" src="../js/controller/baseController.js">  </script>
    <script type="text/javascript" src="../js/controller/contentController.js">  </script>
    
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="contentController" ng-init="findContentCategoryList()" >
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="表格上传" data-toggle="modal" data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i>表格上传</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                        <button type="button" class="btn btn-default" title="导入" ng-click="importData()"><i class="fa fa-refresh"></i> 导入</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">							       
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
                                          <th class="sorting" style="align-content: center">内容标题</th>
                                          <th class="sorting" style="align-content: center;">链接</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr >
                                          <td>1</td>
                                          <td><a href="/data/get.do">分类数据下载</a></td>
			                          </tr>
                                      <tr >
                                          <td>2</td>
                                          <td><a href="/data/getData.do">用户数据下载</a></td>
                                      </tr>
                                      <tr >
                                          <td>3</td>
                                          <td><a href="/data/goods.do">商品数据下载</a></td>
                                      </tr>
                                  </tbody>
			                  </table>
			                  <!--数据列表/-->                        
                        </div>
                     </div>
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">编辑</h3>
		</div>
		<div class="modal-body">	
			 <table class="table table-bordered table-striped"  width="800px">
                 <tr>

                     <td>链接</td>

                     <td><input  class="form-control" ng-model="entity.url" placeholder="链接" ></td>

                 </tr>
                 <tr>
                        <tr>
                            <td>excel</td>
                             <td>
                             	<input type="file" id="file"/>
                             	<input type="button" value="上传" ng-click="uploadFile()"/>
                             	<!--<img src="{{entity.pic}}" width="200" height="100">-->
                             </td>

                        </tr>		
		      	<tr>
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="saveExcel()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
   
</body>
</html>
